{{template "header"}}
	<title>home目錄-my博客</title>
	</head>
<body>
<div class="navbar navbar-default">
	<div class="container">
	{{template "navbar" .}}
	</div>
</div>

<div class="container">
	<div class="page-header">
		<h1>偶的第一次</h1>
		<h4 class="text-muted">文章發表於2016年x月x日xx分xx秒,共1000次看過，239次評論</h4>
		<p>
			大家好這是我的第一篇文章，welcome
		</p>
	</div>
</div>

	<button class="btn btn-lg btn-warning">aaaa</button>

	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
	 <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>
