{{template "header"}}
<link rel="stylesheet" href="/static/css/signin.css">
	<title>登錄頁-my博客</title>
	</head>
<body>
<div class="container" style="width: 300px">
	<form method="POST" action="/login" class="form-signin">
	  <div class="form-group">
	    <label >Account</label>
	    <input id="uname" class="form-control" placeholder="Account" name="uname">
	  </div>
	  <div class="form-group">
	    <label >Password</label>
	    <input id="pwd" type="password" class="form-control" placeholder="Password" name="pwd">
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" name="autoLogin"> 自動登錄
	    </label>
	  </div>

	  <button type="submit" class="btn btn-lg btn-info" onclick="return CheckInput()">登錄</button>
	  <button type="submit" class="btn btn-lg btn-default" onclick="return BackToHome()">返回</button>
	</form>
<!-- </div>
<div class="container">
 -->
 <div class="alert alert-danger" role="alert">
	<h3> 提示:admin/admin </h3>
</div>
</div>
{{template "js"}}
<script type="text/javascript">

function BackToHome () {
	window.location.href="/";
	return false;
}
</script>
  	<script type="text/javascript">
      	function CheckInput() {
      		var uname = document.getElementById("uname");
      		if (uname.value.length == 0) {
      			alert("請輸入");
      			return false;}
      		var pwd = document.getElementById("pwd");
      		if (pwd.value.length == 0) {
      			alert("請輸入");
      			return false;}

      	}
  	</script>

</body>
</html>