{{template "header"}}
	<title>登錄頁-my博客</title>
	</head>
<body>
<div class="container" style="width: 300px">
	<form method="POST" action="/login">
	  <div class="form-group">
	    <label >Account</label>
	    <input id="uname" class="form-control" placeholder="Enter account" name="uname">
	  </div>
	  <div class="form-group">
	    <label >Password</label>
	    <input id="pwd" type="password" class="form-control" placeholder="Password" name="pwd">
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" name="autoLogin"> 自動登錄
	    </label>
	  </div>
	  <button type="submit" class="btn btn-default" onclick="return CheckInput()">登錄</button>
	  <button type="submit" class="btn btn-default" onclick="return backToHome()">返回</button>
	</form>
</div>
{{template "js"}}
<script type="text/javascript">
// function CheckInput () {
// 	var id_check=/[^a-zA-Z0-9]/g;
// 	if($("#uname").val()==""){
// 		alert("請輸入你的帳號名稱");
// 		$("#uname").focus();
// 	}else if ($("#uname").val().indexOf(' ')>=0){
// 		alert("請別用空格!!!!");
// 		$("#uname").focus();
// 	}else if ($("#uname").val().match(id_check)){
// 		alert("請別用非英文字當做帳號名稱");
// 		$("#uname").focus();
// 	}
// }

function backToHome () {
	window.location.href="/";
	return false;
}
</script>
</body>
</html>