{{template "header"}}
	<title>文章-my博客</title>
	</head>

<body>
  <div class="navbar navbar-default">
  	<div class="container">
    	{{template "navbar" .}}
  	</div>
  </div>
<div class="container">
  <h1>文章列表</h1>
  <a type="submit" onclick="authAdd()" class="btn btn-success" href="/topic/add">新增文章</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>文章名稱</th>
          <th>更新時間</th>
          <th>瀏灠數</th>
          <!-- <th>回覆數</th> -->
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
         <div id="ChkLogin" style="display:none">{{.IsLogin}}</div>
        {{range .Topics}}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.Title}}</td>
        <td>{{.Updated}} </td>
        <td>{{.Views}} </td>
        <td>
          <a class="authDo" style="display:none" href="/topic/modify?tid={{.Id}}">修改</a>
          <a class="authDo" style="display:none" href="/topic/del?tid={{.Id}}">刪除</a>
        </td>
      </tr>
        {{end}}
      </tbody>
    </table>
</div>
<script type="text/javascript">
onload=showAuth();
//沒登錄就不顯示
function showAuth () {
  var GetValue = $('#ChkLogin').text();
  if (GetValue=="true") {
  $('.authDo').css('display','inline');
  };
}

//add時沒登錄就alert
function authAdd () {
  var GetValue = $('#ChkLogin').text();
  if (GetValue!="true") {
    alert("請登錄");
  };

}
</script>

</body>
</html>