{{template "header"}}
	<title>新增文章-my博客</title>
	</head>

<body>
  <div class="navbar navbar-default">
  	<div class="container">
    	{{template "navbar" .}}
  	</div>
  </div>


<div class="container">
  <h1>新增文章</h1>
  <form method="post" action="/topic">
  	<div class="form-group">
  		<label>title:</label>
  		<input type="text" class="form-control" name="title">
  	</div>
  	<div class="form-group">
  		<label>文章分類:</label>
      <!-- <input type="text" class="form-control" name="category"> -->
      <select name="category" id="">
        {{range .Categories}}
          <option value="{{.Title}}">{{.Title}}</option>
        {{end}}
		</select>
  	</div>
  	<div class="form-group">
  		<label>文章內容:</label>
  		<textarea name="content" class="form-control" cols="30" rows="10"></textarea>
  	</div>
  	<button type="submit" class="btn btn-info">提交</button>
  </form>
</div>
  {{template "js"}}
</body>
</html>