{{template "header"}}
	<title>閱讀文章-my博客</title>
	</head>

<body>
{{template "navbar" .}}
 {{$tid:= .Topic.Id}}
	{{$isLogin:= .Islogin}}


<div class="container">
	 <div id="ChkLogin" style="display:none">{{.IsLogin}}</div>
{{with .Topic}}	
  <h1>{{.Title}} <small>.Category  
  <a class="authDo" style="display:none" href="/topic/modify?tid={{$tid}}">修改文章</a>
   </small></h1>
  {{.Content}}
{{end}}
</div>

<div class="container">
	{{range .Replies}}
		<h3>{{.Name}} <small>{{.Created}} 
				<a class="authDo" style="display:none" href="/reply/del?tid={{$tid}}&rid={{.Id}} ">刪除</a> </small> </h3>
		{{.Content}}
	{{end}}
	<h3>本文回覆</h3>
	<form method="post" action="/reply/add">
		<input type="hidden" name="tid" value="{{.Topic.Id}}">
		<div class="form-group">
			<label>顯示名稱</label>
			<input type="text" class="form-control" name="nickname">
		</div>
		<div class="form-group">
			<label>內容:</label>
			<textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
		</div>
		<button type="submit" class="btn btn-danger">提交回覆</button>
	</form>
</div>
<script type="text/javascript">
onload=showDel();
//沒登錄就不顯示
function showDel () {
	var GetValue = $('#ChkLogin').text();
	if (GetValue=="true") {
	$('.authDo').css('display','inline');
	};
}
</script>

</body>
</html>